#category-courses {
  padding: 40px;
  background-color: #f9f9f9;
}

#categories {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#categories button {
  background-color: white;
  color: rgb(51, 51, 51);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

#categories button.active {
  color:black;
}

#categories button:hover {
  color:black;
}

#courses-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.course-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  cursor:pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.course-card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);

}

.course-card img {
  width: 100%;
  height: auto;
}

.course-info {
  padding: 16px;
}

.course-info h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.course-info p {
  font-size: 0.9rem;
  color: #888;
}

.course-meta {
  display: flex;
  gap: 8px;
  font-size: 0.8rem;
  margin-bottom: 8px;
}

.course-pricing {
  display: flex;
  gap: 8px;
  font-size: 1rem;
}

.course-pricing .current-price {
  color: black;
  font-weight: bold;
}

.course-pricing .original-price {
  text-decoration: line-through;
  color: #888;
}